

/* #========== SEARCH SYSTEM ===========*/
.search{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
    margin: 20px;
    }
    
    h2{
    color: #303972;
    font-weight: 600;
    font-size: 1.4rem;
    margin-left: 20px;
    }
    
    .left select{
    padding: 8px 12px;
    }
    
    .right > input{
    border: none;
    outline: none;
    width: 100%;
    }
    
    .right{
    border: 1px solid #858386;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 20rem;
    }
    
    .right > i{
    color: #858386;
    padding: 0 10px;
    }
    
    /*==== STUDENT TABLE ==========*/
    .student-container{
        background: none;
    }
    
    table{
        width: 97%;
        caret-color: transparent;
        background: #fff;
        border-radius: 8px;
        margin: 20px;
        padding: 10px;
    }
    
    tr{
        background-color: #ffffff;
    }
    
    th{
        text-align: start;
    }
    
    td, th{
        padding: 7px;
    }
    
    tr:hover{
        background: #d7d3dd;
        cursor: pointer;
    }
    
    .name{
        color: #303972;
        font-weight: 600;
    }
    
    .darasa{
        margin: 0;
        padding: 0;
    }
    
    .darasa > p{
        margin: 5px;
        border-radius: 8px;
        padding: 7px 10px;
        color: #ffffff;
    }
    
    .darasa .other1{
        background: #fb7d5b;
    }
   
    .darasa .other2{
        background: #fcc43e;
    }

    .darasa .other3{
        background: #4d44b5;
    }

    .darasa .other4{
        background: #3F4F44;
    }

    .darasa .other5{
        background: #4d4;
    }

    .darasa .other6{
        background: #7886C7;
    }

    .darasa .other7{
        background: #854836;
    }

    .darasa .other8{
        background: #B5828C;
    }

    .darasa .other9{
        background: #DD88CF;
    }

    .head > th{
        color: #0D1282;
        font-weight: 700;
        font-size: 1.1rem;
    }
    
    .head, .id, .parent{
        color: #4D44B5;
    }
    
    .id, .parent{
        font-weight: 500;
    }
    
    
    
    .fa-message{
        font-weight: 600;
        font-size: 1.5rem;
        color: #A098AE;
        cursor: pointer;
        caret-color: transparent;
    }
    
    td .del{
        color: #3F72AF;
        background: #DBE2EF;
    }
    
    td > button{
        border: none;
        border-radius: 4px;
        margin: 5px 6px;
        padding: 6px 12px;
        cursor: pointer;
    }
    
    
    td .edit{
        color: #DBE2EF;
        background: #3F72AF;
    
    }
    .search .admin-parent-search{
        caret-color: black;
    }