.timeTableLinks{
    display: flex;
    justify-content: space-around;
    background: #F1E3D3;
    padding: 15px;
    margin: 10px 0;
}

.timeTableLinks > button{
    background-color: #E07A5F;
    color: #f4f7f4;
}

.timeTableLinks > button:hover{
    background: #690B22;
}

.selectViewTable{
    display: flex;
    justify-content: center;
    width: 30%;
}


.selectViewTable, .viewTable {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

.tableWrapper{
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.viewTable {
    background: #d5ebeb;
    padding: 5px;
    border-radius: 10px;
    border: 3px double #a8a8a8;
    border-collapse: collapse; /* Remove the space between the cells */
    margin: 20px 15px;
    table-layout: fixed;
    min-width: 800px;
}

.viewTable tr{
    padding: 5px;
}

.viewTable th{
    border: 2px solid #868585;
    padding: 10px;
    text-align: center; 
}

.viewTable td{
    border: 2px solid #868585;
    text-align: center;
    padding: 20px 17px;
}

.tableTitle{
    font-size: 1.2rem;
    color: #2a4d3c;
}

.tableh3{
    font-size: 1.1rem;
    padding-top: 20px;
    padding-left: 14px;
    color: #494664;
}

.tableTitle, .selectViewTable{
    padding: 10px;
}


.Math{
    background: #f3f3a8;
}

.Science{
    background: #f3a8a8;
}

.English{
    background: #a8f3a8;
}

.Swahili{
    background: #a8a8f3;
}

.Arabic{
    background: #f3a8f3;
}

.Break{
    background: #dddfdd;
}