<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/student.css">

</head>
<body>
    <div class="student-container">
        <h2>Students Table</h2>

        <div class="search">
            <div class="right">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search here...">
            </div>

            <div class="left">
                <select name="SearchIndex" id="searchIndex">
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="recent">Recent</option>
                </select>
            </div>
        </div>

        <table>
            <tr class="head">
                <th>Name</th>
                <th>ID</th>
                <th>Parent Name</th>
                <th>Chat</th>
                <th>Grade</th>
                <th>Action</th>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other1">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other3">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other2">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other3">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other1">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other2">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other3">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>

            <tr>
                <td class="name student_profile">Twahir Sudi</td>
                <td class="id">2</td>
                <td class="parent parent_profile">Soud Abdi</td>
                <td class="icon"><i class="fa-regular fa-message"></i></td>
                <td class="darasa"><p class="other1">VII A</p></td>
                <td>
                    <button class="edit">Edit</button>
                    <button class="del">Delete</button>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>