
    <link rel="stylesheet" href="/css/viewteachers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


    <h1>Teachers</h1>
    <div class="teacher-container">
        <div class="search">
            <div class="right">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Search here...">
            </div>

            <div class="left">
                <select name="SearchIndex" id="searchIndex">
                    <option value="Newest">Newest</option>
                    <option value="Oldest">Oldest</option>
                    <option value="recent">Recent</option>
                </select>
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <div class="upper">
                    <img src="/img/1.jpg" alt="teacher_img">

                    <div class="action">
                        <button id="actionBtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div class="edit-del" id="edit-del">
                            <p>Edit</p>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <h3>Latifa Sudi</h3>
                    <p>Teacher</p>
                    <div class="subjects">
                        <h5 class="math">Mathematics</h5>
                        <h5 class="science">Science</h5>
                        <h5 class="arts">Arts</h5>
                    </div>
                </div>

                <div class="lower">
                    <button class="profile teacher_profile"><i class="fa-solid fa-user"></i> Profile</button>
                    <button class="chat"><i class="fa-solid fa-envelope"></i>Chat</button>
                </div>
            </div>

            <div class="card">
                <div class="upper">
                    <img src="/img/1.jpg" alt="teacher_img">

                    <div class="action">
                        <button id="actionBtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div class="edit-del" id="edit-del">
                            <p>Edit</p>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <h3>Latifa Sudi</h3>
                    <p>Teacher</p>
                    <div class="subjects">
                        <h5 class="math">Mathematics</h5>
                        <h5 class="science">Science</h5>
                        <h5 class="arts">Arts</h5>
                    </div>
                </div>

                <div class="lower">
                    <button class="profile teacher_profile"><i class="fa-solid fa-user"></i> Profile</button>
                    <button class="chat"><i class="fa-solid fa-envelope"></i>Chat</button>
                </div>
            </div>


            <div class="card">
                <div class="upper">
                    <img src="/img/1.jpg" alt="teacher_img">

                    <div class="action">
                        <button id="actionBtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div class="edit-del" id="edit-del">
                            <p>Edit</p>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <h3>Latifa Sudi</h3>
                    <p>Teacher</p>
                    <div class="subjects">
                        <h5 class="math">Mathematics</h5>
                        <h5 class="science">Science</h5>
                        <h5 class="arts">Arts</h5>
                    </div>
                </div>

                <div class="lower">
                    <button class="profile teacher_profile"><i class="fa-solid fa-user"></i> Profile</button>
                    <button class="chat"><i class="fa-solid fa-envelope"></i>Chat</button>
                </div>
            </div>


            <div class="card">
                <div class="upper">
                    <img src="/img/1.jpg" alt="teacher_img">

                    <div class="action">
                        <button id="actionBtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div class="edit-del" id="edit-del">
                            <p>Edit</p>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <h3>Latifa Sudi</h3>
                    <p>Teacher</p>
                    <div class="subjects">
                        <h5 class="math">Mathematics</h5>
                        <h5 class="science">Science</h5>
                        <h5 class="arts">Arts</h5>
                    </div>
                </div>

                <div class="lower">
                    <button class="profile teacher_profile"><i class="fa-solid fa-user"></i> Profile</button>
                    <button class="chat"><i class="fa-solid fa-envelope"></i>Chat</button>
                </div>
            </div>

            <div class="card">
                <div class="upper">
                    <img src="/img/1.jpg" alt="teacher_img">

                    <div class="action">
                        <button id="actionBtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div class="edit-del" id="edit-del">
                            <p>Edit</p>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <h3>Latifa Sudi</h3>
                    <p>Teacher</p>
                    <div class="subjects">
                        <h5 class="math">Mathematics</h5>
                        <h5 class="science">Science</h5>
                        <h5 class="arts">Arts</h5>
                    </div>
                </div>

                <div class="lower">
                    <button class="profile teacher_profile"><i class="fa-solid fa-user"></i> Profile</button>
                    <button class="chat"><i class="fa-solid fa-envelope"></i>Chat</button>
                </div>
            </div>

            <div class="card">
                <div class="upper">
                    <img src="/img/1.jpg" alt="teacher_img">

                    <div class="action">
                        <button id="actionBtn">
                            <i class="fa-solid fa-ellipsis"></i>
                        </button>

                        <div class="edit-del" id="edit-del">
                            <p>Edit</p>
                            <p>Delete</p>
                        </div>
                    </div>
                </div>

                <div class="center">
                    <h3>Latifa Sudi</h3>
                    <p>Teacher</p>
                    <div class="subjects">
                        <h5 class="math">Mathematics</h5>
                        <h5 class="science">Science</h5>
                        <h5 class="arts">Arts</h5>
                    </div>
                </div>

                <div class="lower">
                    <button class="profile teacher_profile"><i class="fa-solid fa-user"></i> Profile</button>
                    <button class="chat"><i class="fa-solid fa-envelope"></i>Chat</button>
                </div>
            </div>
        </div>
    </div>
<script src="/admin-Teachers.js"></script>
