<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Class</title>
    <link rel="stylesheet" href="/css/timetable.css">
    <style>
        .timetable-Admin-Container{
            padding: 15px;
            margin: 10px;
        }
    </style>

</head>

<body>
    <div class="timetable-Admin-Container">
        <div class="timeTableLinks">
            <button data-component="addTable">Create a Table</button>
            <button data-component="viewTable">View Tables</button>
            <button data-component="deleteTable">Delete a Table</button>
        </div>
    
        <div id="contentContainer">
            <!-- Initial content -->
            <div id="addTable" class="componentTable"><%- include("./addTable") %></div>
            <div id="viewTable" class="componentTable" style="display: none;"><%- include("./viewTable") %></div>
            <div id="deleteTable" class="componentTable" style="display: none;"><%- include("./deleteTable") %></div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.timeTableLinks button').forEach(button => {
            button.addEventListener('click', () => {
                const component = button.getAttribute('data-component');
                // Hide all components
                document.querySelectorAll('.componentTable').forEach(comp => {
                    comp.style.display = 'none';
                });
                // Show the selected component
                document.getElementById(component).style.display = 'block';
            });
        });
    </script>
</body>

</html>
