.req-container {
    padding: 50px;
  }

  .req-h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .counter-box {
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    margin: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }

  .counter-box:hover {
    transform: scale(1.05);
  }

  .counter-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #4682b4;
  }

  .counter-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }

  .req-footer {
    margin-top: 50px;
    font-size: 0.9rem;
    color: #fff;
  }
  .req-footer p{
      font-size: 1.1rem;
      font-weight: 700;
      font-family: monospace;
  }

  .req-body{
      background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
      width: 100vw;
      height: 80vh;
      display: flex;
      margin: 0;
      justify-content: center;
  }