
<section id="teacherSection" class="content-wrapper" style="display:none;">
    <!-- Teachers Content -->
    <%- include("../layout/teachers") %>         
</section>

<section id="studentParentSection" class="content-wrapper" style="display:none;">
    <!-- Student Content -->
    <%- include("../layout/student") %>         
</section>

<!-- <section id="dashboardParentSection" class="content-wrapper" style="display:none;">
</section> -->