<div class="row">
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h3 id="totalStudents">150</h3>
                <p>Total Students</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-graduate"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
            <div class="inner">
                <h3 id="totalClasses">12</h3>
                <p>Total Classes</p>
            </div>
            <div class="icon">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h3 id="totalTeachers">20</h3>
                <p>Total Teachers</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-tie"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="small-box bg-primary">
            <div class="inner">
                <h3 id="parentsTotal">120</h3>
                <p>Total Parents</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-friends"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", async function () {
        try {
            // Fetch all API data in parallel
            const [parentsRes, teachersRes, classesRes] = await Promise.all([
                fetch("/api/parents"),
                fetch("/api/teachers"),
                fetch("/api/getClasses")
            ]);

            // Convert responses to JSON
            if (!parentsRes.ok || !teachersRes.ok || !classesRes.ok) {
                console.log("One or more API requests failed.")
            }

            const [parentsData, teachersData, classesData] = await Promise.all([
                parentsRes.json(),
                teachersRes.json(),
                classesRes.json()
            ]);


            // Assign data to elements
            document.getElementById("parentsTotal").innerText = parentsData.data.length;
            document.getElementById("totalTeachers").innerText = teachersData.data.length;
            document.getElementById("totalClasses").innerText = classesData.length;

        } catch (error) {
            console.error("Error fetching data:", error.message);
        }
    });

</script>