<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <span style="padding: 0 10px;">Latifa</span><img src="/img/1.jpg" alt="User Image" class="img-circle" style="height: 30px; width: 30px;">
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="profileDropdown">
        <a href="#" class="dropdown-item" data-icon="fas fa-user">View Profile</a>
        <a href="#" class="dropdown-item" data-icon="fas fa-edit">Edit Profile</a>
        <a href="#" class="dropdown-item" data-icon="fas fa-cog">Settings</a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item" data-icon="fas fa-sign-out-alt">Logout</a>
    </div>
</li>